<h1>Search Flickr images</h1>
<% @photos.each do |photo| %>
  <div class="image">
    <%= image_tag "#{Flickr.url(photo)}" %>
  </div>
<% end %>

<% if @photos.size.zero? %>
  <p class="empty">No public photos for that id</p>
<% end %>
